
.details {
  background: mediumseagreen;
  color: white;
  padding: 0.5em;
  margin: 1em;
  width: 300px;
  text-align: left;
  font-size: 0.875em;
}

input {
  margin-left: 10px;
  color: black;
}

td {
  padding-bottom: 10px;
}

button {
  margin-left: 10px;
}

/* .details input {
  word-wrap: break-word;
  white-space: nowrap;
} */
